---
import SeccionProductos from '../../components/SeccionProductos.astro';
import Layout from '../../layouts/Layout.astro';
import { obtenerProductos } from '../../utils/productos';

const { destacados, nuevos, aleatorios } = await obtenerProductos();
---

<Layout>
  <h1 style="font-size: 2rem; text-align: center; color: #ec407a;">ðŸŒˆ Bienvenida a tu Tienda Kawaii ðŸŒˆ</h1>

  <SeccionProductos titulo="âœ¨ Productos Destacados âœ¨" productos={destacados.map(p => p.data)} />
  <SeccionProductos titulo="ðŸ†• Nuevos Ingresos ðŸ†•" productos={nuevos.map(p => p.data)} />
  <SeccionProductos titulo="ðŸŽ Descubre algo nuevo ðŸŽ" productos={aleatorios.map(p => p.data)} />
</Layout>
